<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Appointment Notification</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Appointment Notification</h1>
        <h2>Hello <%= mail_data.appointment_user_name %>,</h2>
        <p>Your appointment is in 15 minutes. Please be available and find the details below:</p>
        <ul>
            <li>Appointment Created By: <%= mail_data..appointment_created_by %></li>
            <li>Appointment Time: <%= mail_data.appointment_time %></li>
            <li>Doctor Name: <%= mail_data.doctor_name %></li>
            <li>Symptoms: <%= mail_data.symptoms %></li>
            <li>Note for Doctor: <%= mail_data.note_for_doctor %></li>
        </ul>
        <!-- You can add more details here if needed -->
    </div>
</body>
</html>
